*{margin: 0;
padding: 0;  
}
.menu{
    background: #042331;
  border-bottom:4px solid #FE8201;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
margin-left :50px;
}
.menu ul li a{
    color: white;
    padding: 2px 9px;
    display: block;
    text-decoration: none;
}

/*down*/
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: blue;
  font-size: 12px;
    transition: .4s;
    

}
.menu ul li ul li{
    display:block;
    margin-left: 0;
}
.menu ul li ul li a{
    display:block;
    border-top: 1px solid white;
}

.menu ul ul li:first-child a{
  border-left:none;
}

/*hover part*/

.menu ul li ul{
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin:top center;
}
.menu ul li:hover ul{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.menu ul li:hover > a{
    background-color: blue;
}

/*button*/
.button{
  height:200px;
  width:100%;
  background-image: url(no.jpeg);
  background-repeat:no-repeat;
  border-bottom: 5px solid #FE8201;
}
h2{color:#FE8201;
  margin-top: 20px;
  text-align: center;
  background: black;
}
p{color:white;
  text-align: center;
  margin-top: 10px;
}
.click-class2{
    background:#042331;
    padding: 6px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
  margin-top: 7px;
  margin-left: 7px;
  border: 1px solid white;
}
.click-class2::before{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left:0;
    background: red;
    z-index: -1;
    transition: 0.5s;
}
.click-class2:hover::before{
    width: 100%;
}
.click3{
    background:#042331;
    padding: 4px 9px;
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.click3::before{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left:0;
    background: red;
    z-index: -1;
    transition: 0.5s;
}
.click3:hover::before{
    width: 100%;
}
.g{
  height: 100%;
  width:100%;
}
.l{float: left;
  width:60%;
}
.l p{float: left;
  font-size:15px;
  margin-left: 9px;
}
.l h5{float: right;
  margin-top:11px;
  color:white;
  font-size:15px;
  margin-right: 8px;
}
.r{float: right;
  width:40%;
  margin-top: -40px;
}
.r img{
  height: 500px;
  width:300px;
  border: 5px solid #FE8201;
float:right;
margin-right:20px;
}
.box{
  width:80%;
  height: 40%;
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
  font-size: 13px;
  background:#042331;
  color:White;
}
.e{
  background: silver;
  width:100%;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  border-top: 3px solid #FE8201;
  border-bottom: 4px solid #FE8201;
  padding: 0.5px;
}
.e a{
  color:white;
  text-decoration-line: none;
  margin-left: 2px;
  background: green;
  padding: 8px;
  border:4px solid #FE8201;
}
.tox{margin-top: 15px;
  font-size: 9px;
  background: #3C3C3A;
  border:5px solid #FF8201;
}

.tox p{text-align: center;
  margin:10px;
  
}
/*marquee*/
@media(max-width:768px){

				.r img{
  height: 170px;
  width:120px;
  border: 5px solid #FE8201;
  margin-right:5px;
}
.menu ul li{
    display: inline-block;
    margin-left:0;
}
}
